@mixin button-color($color-bg, $color-fg: #fff) {
  background: $color-bg;
  color: $color-fg;

  // Apply same color to button-slanted
  &:before {
    background: $color-bg;
  }

  &:hover, &:hover:before {
    background: lighten($color-bg, 10%);
  }
}

.button {
  position: relative;
  display: inline-block;
  padding: 0.25em 1em;
  line-height: 1.5em;
  transition: background-color 100ms;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  min-height: 1em;
  @include button-color(#555);
  margin-bottom: 0.5em;
}

.button-icon {
  padding-right: 2.5em;
}

.button-slanted {
  position: relative;
  background-color: transparent !important;
  z-index: 0;

  // Compensate for skewage
  margin-right: 0.3em;
  margin-left: 0.3em;

  &:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    transform: skewX(-20deg);
    z-index: -1;
    transition: background-color 100ms;
  }
}

.button-flex {
  display: block;

  &:last-child {
    margin-bottom: 0;
  }
}

.button-orange, .button-primary {
  @include button-color($color-orange);
}

.button-purple {
  @include button-color($color-purple);
}

.button-rose {
  @include button-color($color-rose);
}

.button-small-text {
  display: block;
  font-size: 0.75em;
  line-height: 1.5em;
  margin-bottom: 0.25em;
}
