.header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 3em;
  min-width: $page-width-min;
  padding: 0.5em 0;
  background: $color-bg-lighter;
  color: $color-fg-lighter;
}

.header-flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.header-item {
  margin-right: 1rem;

  .button {
    // font-size: 1.2em;
    margin: 0;
  }
}

.header-logo {
  height: 2.4rem;
  margin-right: 0.5rem;
  // A little bit of offset
  position: relative;
  top: 3px;
}

.header-coming-soon {
  text-align: right;
  flex: 1;
  font-size: 12pt;
  color: #888;
  min-width: 6em;
}

@media screen and (max-width: 640px) {
  .header {
    position: absolute;
    height: auto;
    min-height: 3em;
    font-size: 12pt;
  }
  .header-flex {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .header-logo {
    height: 2em;
    margin-right: 0;
  }
  .header-item {
    margin-right: 0.25rem;
  }
  .header-coming-soon {
    display: none;
  }
}
