// TODO: Decouple icon component from button component
// Hint: icon should not be positioned with "absolute"!
.icon {
  position: absolute;
  top: 50%;
  right: 0.85em;
  bottom: 0;
  line-height: 0;
}

.icon-big {
  font-size: 1.25em;
}
