body, html {
  margin: 0;
  background: #111;
}

.header {
  height: 64px;
  background: #222;

  .logo {
    height: 64px - 2 * 8px;
    margin: 8px 0;
  }
}

.content-container {
  max-width: 1200px;
  margin: 0 auto;
}

.button-slanted {
  // TODO: Refactor into a reusable component
  padding: 5px 12px;
  transform: skewX(-20deg);
  background: #f40;
  width: 80px;
  font-weight: bold;
  font-family: sans-serif;

  transition: left 125ms;
  position: relative;
  left: 0px;

  .button-slanted-content {
    transform: skewX(20deg);
  }

  &:hover {
    position: relative;
    left: 5px;
    background: #fff;
  }
}
