html, body {
  font-family: 'Share', sans-serif;
  font-size: 14px;
  // font-weight: $font-weight-text;
  line-height: 1.5em;
  background: $color-bg;
  color: $color-fg;
}

span, a, img, i, u, b, small, strong {
  display: inline;
}

h1, h2, h3 {
  margin: 0.5em 0 1em 0;
  line-height: 1.1em;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

i {
  font-style: italic;
}

b, strong {
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul {
  list-style: disc outside;
  padding: 0.5em 0 0.5em 1em;
}

sup {
  vertical-align: super;
  font-size: 75%;
}
