<% include layout/header %>

<!--
Known mirrors:
http://mirror.null.one/
https://get.metra.pw/
http://sebastian.network/warsow/
-->

<div class="content download">
  <h1>Download options</h1>
  <p>
    Warsow is completely free to download and play, available for Windows, Linux and Mac OS X.
  </p>
  <p>
    <a class="button button-slanted button-rose"
      href="http://mirror.null.one/warsow_21_setup.exe"
      title="Windows (.exe installer)">
      Windows
      <i class="mdi mdi-windows"></i>
    </a>
    <a class="button button-slanted button-rose"
      href="http://mirror.null.one/warsow_21.dmg"
      title="Mac OS X 10.8/10.9/10.10 (.dmg)">
      Mac OS X
      <i class="mdi mdi-apple"></i>
    </a>
    <a class="button button-slanted button-rose"
      href="http://mirror.null.one/warsow_21_unified.tar.gz"
      title="Unified Windows + Linux package (.tar.gz)">
      Linux
      <i class="mdi mdi-linux"></i>
    </a>
  </p>
  <p>
    <a class="button button-slanted"
      href="http://mirror.null.one/warsow_21_unified.tar.gz">
      Warsow 2.1 unified (windows + linux, tar.gz)
      <i class="mdi mdi-file"></i>
    </a>
    <a class="button button-slanted"
      href="http://mirror.null.one/warsow_21_sdk.tar.gz">
      Warsow 2.1 SDK (source code + tools)
      <i class="mdi mdi-file"></i>
    </a>
  </p>
</div>

<% include layout/footer %>
