<% include layout/header %>

<div class="greeting">
  <div class="greeting-arrow">
    <i class="mdi mdi-arrow-down"></i>
  </div>
  <script>
    (function () {
      var element = document.getElementsByClassName('greeting-arrow')[0];
      var onScroll = function () {
        element.style.opacity = 0;
        window.removeEventListener('scroll', onScroll);
      };
      if (window.scrollY !== 0) {
        return onScroll();
      }
      window.addEventListener('scroll', onScroll);
    })();
  </script>
  <div class="greeting-stripe">
    <div class="greeting-flex container">
      <div class="greeting-text">
        <h1>The fastest sport on the web!</h1>
        <p>
          Set in a futuristic cartoonish world, Warsow is a completely free
          fast-paced first-person shooter (FPS) for Windows, Linux and macOS.
        </p>
      </div>
      <div class="greeting-download">
        <a class="button button-slanted button-flex button-purple"
          href="/download">
          Download
          <i class="mdi mdi-download"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="motto">
  <div class="container">
    <div class="motto-header">
      <h1>Warsow is Art of Respect and Sportsmanship Over the Web</h1>
      <img src="/images/health.svg" style="width: 3em; height: 3em">
    </div>
    <div class="motto-quote">
      <div class="motto-quote-author">
        <div class="motto-quote-symbol">&#8221;</div>
        <div class="text-big">Fabrice Demurger</div>
        <div class="text-small">Warsow founder</div>
      </div>
      <div class="motto-quote-body">
        <p>
          Since 2005, Warsow is considered as one of the skillest games of the
          fast-paced shooter esport scene. So if you're looking for some
          hardcore/oldskool challenge, you're at the right place.
        </p>
        <p>
          Now, here's few tips which will strongly improve your gaming
          experience:
          <ul>
            <li>Hi, GLHF, GG, BB are fundamentals of esport;</li>
            <li>Each loss is an opportunity to improve knowledge;</li>
            <li>Each win is an opportunity to share knowledge.</li>
          </ul>
        </p>
        <p>
          Thanks for your attention and once again, welcome to Warsow!
        </p>
      </div>
    </div>
  </div>
</div>

<% include layout/footer %>
