<% include layout/header %>

<div class="greeting">
  <div class="greeting-stripe">
    <div class="greeting-flex container">
      <div class="greeting-text">
        <h1>The fastest sport on the web!</h1>
        <p>
          Set in a futuristic cartoonish world, Warsow is a completely free
          fast-paced first-person shooter (FPS) for Windows, Linux and macOS.
        </p>
      </div>
      <div class="greeting-download">
        <a class="button button-slanted button-flex button-purple"
          href="/download">
          Download
          <i class="mdi mdi-download"></i>
        </a>
      </div>
    </div>
  </div>
</div>

<% include layout/footer %>
