.text-big {
  font-size: 1.25em;
  line-height: 1em;
}

.text-small {
  font-size: 0.75em;
  line-height: 1em;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-dimmed {
  color: white-alpha(0.5);
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
