<!doctype html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Warsow</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share:400,400i,700,700i&amp;subset=latin-ext">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext">
<link rel="stylesheet" href="https://unpkg.com/mdi@2.0.46/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/styles/index.css">

</head>
<body>

<div class="header">
  <div class="header-flex container">
    <div class="header-item">
      <a href="/">
        <img class="header-logo" src="images/warsow.png">
      </a>
    </div>
    <div class="header-item">
      <a class="button button-slanted button-orange"
        href="/">
        Home
      </a>
    </div>
    <!-- Temporary text -->
    <div class="header-item header-coming-soon">
      Full website coming soon!
    </div>
  </div>
</div>
