<!doctype html>
<html>
<head>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Warsow</title>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share:400,400i,700,700i&amp;subset=latin-ext">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu:400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext">
<link rel="stylesheet" href="/bundles/client.bundle.css">

</head>
<body>

<div class="header">
  <div class="header-flex container">
    <div class="header-item">
      <a href="/">
        <img class="header-logo" src="images/warsow.png">
      </a>
    </div>
    <div class="header-item">
      <a class="button button-slanted <%= route === 'index' && 'button-orange' %>"
        href="/">
        Home
      </a>
    </div>
    <div class="header-item">
      <a class="button button-slanted <%= route === 'servers' && 'button-orange' %>"
        href="/servers">
        Servers
      </a>
    </div>
    <!-- Temporary text -->
    <div class="header-item header-coming-soon">
      Full website coming soon!
    </div>
    <div class="header-item">
      <a class="button button-slanted button-purple button-icon"
        href="/download">
        Download now!
        <i class="icon mdi mdi-download"></i>
      </a>
    </div>
  </div>
</div>
